extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/box-alert.pug

block main
  +box-alert-error(messages)

  +box-head("Edit A Product")
  form(
    id="form-create-product"
    method="POST"
    action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH`
    enctype="multipart/form-data"
  )
    .item.form-group
      label Title
      input(
        class="form-control"
        name="title"
        value=product.title
        required
      )
    .item.form-group
      label Description
      input(
        class="form-control"
        name="description"
        value=product.description
      )
    .item.form-group
      label Price
      input(
        class="form-control"
        name="price"
        value=product.price
      )
    .item.form-group
      label Discount Percentage
      input(
        class="form-control"
        name="discountPercentage"
        value=product.discountPercentage
      )
    .item.form-group
      label Stock
      input(
        class="form-control"
        name="stock"
        value=product.stock
      )
    div(
      class="item form-group"
      upload-image
    )
      label Thumbnail
      input(
        class="form-control"
        type="file"
        name="thumbnail"
        accept="image/*"
        upload-image-input
      )
      .inner-img
        img(
          src=product.thumbnail
          upload-image-preview
        )
        button(
          type="button"
          class="btn btn-danger"
          button-close-image
        ) x
    .item.form-group
      label Position
      input(
        class="form-control"
        type="number"
        name="position"
        placeholder="Auto Descending"
        value=product.position
      )
    .item.form-group
      p Status
      input(
        type="radio"
        name="status"
        value="active"
        class="form-check-input"
        checked=product.status === "active"
      )
      label.form-check-label Active
      input(
        type="radio"
        name="status"
        value="inactive"
        class="form-check-input"
        checked=product.status === "inactive"
      )
      label.form-check-label Inactive
    .item.form-group
      button(
        class="btn btn-primary"
      ) Update
      