extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/box-filter.pug
include ../../mixins/form-search.pug
include ../../mixins/box-pagination.pug

block main
  .products
    .container
      +box-head(pageTitle)
      .card
        .card-header Filters and Search
        .card-body
          .row
            .col-6
              +box-filter(buttonsStatus)
            .col-6
              +form-search(keyword)
      table.table.table-hover
        thead
          tr
            th Order Number
            th Image
            th Title
            th Price
            th Status
            th Action
        tbody
          each item, idx in products
            tr
              td #{idx + 1}
              td
                img(src=item.thumbnail, alt=item.title)
              td #{item.title}
              th #{item.price}$
              th
                if (item.status === "active")
                  button.btn.btn-success #{item.status}
                else
                  button.btn.btn-danger #{item.status}
              th
                button.btn.btn-warning Edit
                button.btn.btn-danger Delete
      +box-pagination(pagination)