extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/box-filter.pug
include ../../mixins/form-search.pug
include ../../mixins/box-pagination.pug
include ../../mixins/form-change-multi.pug

block main
  .products
    .container
      +box-head(pageTitle)
      .card
        .card-header Filters and Search
        .card-body
          .row
            .col-6
              +box-filter(buttonsStatus)
            .col-6
              +form-search(keyword)
      +formChangeMulti(`${prefixAdmin}/products/change-multi-status`)
      table(
        class="table table-hover"
        id="table-products"
      )
        thead
          tr
            th
              input(
                name="checkAll"
                type="checkbox"
              )
            th Order Number
            th Image
            th Title
            th Price
            th Status
            th Action
        tbody
          each item, idx in products
            tr
              td
                input(
                  type="checkbox"
                  name="checkByID"
                  value=item.id
                )
              td #{idx + 1}
              td
                img(src=item.thumbnail, alt=item.title)
              td #{item.title}
              th #{item.price}$
              th
                if (item.status === "active")
                  button(
                    class="btn btn-success"
                    button-change-status
                    data-id=item.id
                    data-status=item.status
                  ) #{item.status}
                else
                  button(
                    class="btn btn-danger"
                    button-change-status
                    data-id=item.id
                    data-status=item.status
                  ) #{item.status}
              th
                button.btn.btn-warning Edit
                button(
                  class="btn btn-danger"
                  button-delete-item
                  data-id=item.id
                ) Delete
      +box-pagination(pagination)

  form(
    action=""
    method="POST"
    id="form-change-status"
    data-path=`${prefixAdmin}/products/change-status/`
  )

  form(
    action=""
    method="POST"
    id="form-delete-item"
    data-path=`${prefixAdmin}/products/delete-item/`
  )

  script(src="/admin/js/product.js")