extends ../../layouts/default.pug

block main
  .products
    .container
      .card
        .card-header Filters and Search
        .card-body
          .row
            .col-6
              ul.list
                each item in buttonsStatus
                  li
                    button(
                      class=`btn btn-outline-success${item.active && " " + item.active}`
                      button-status=item.status
                    ) #{item.content}
            .col-6
              form.form-search
                .input-group
                  input(
                    class="form-control"
                    type="text"
                    name="keyword"
                    placeholder="Input your keyword"
                    value=keyword
                  )
                  button.btn.btn-success Search
      table.table.table-hover
        thead
          tr
            th Order Number
            th Image
            th Title
            th Price
            th Status
            th Action
        tbody
          each item, idx in products
            tr
              td #{idx + 1}
              td
                img(src=item.thumbnail, alt=item.title)
              td #{item.title}
              th #{item.price}$
              th
                if (item.status === "active")
                  button.btn.btn-success #{item.status}
                else
                  button.btn.btn-danger #{item.status}
              th
                button.btn.btn-warning Edit
                button.btn.btn-danger Delete