extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .products
    .container
      .row
        .col-12
          +box-head("Products")
        each item in products
          .col-md-3.col-sm-6.col-12
            .box-item
              .inner-img
                  img(src=item.thumbnail alt=item.title)
              .inner-content
                h3.title 
                  a(href=`/products/${item.slug}`) #{item.title}
                .new-price #{item.newPrice}$
                .old-price #{item.price}$
                .discount #{item.discountPercentage}%