mixin form-search(keyword)
  form.form-search
    .input-group
      input(
        class="form-control"
        type="text"
        name="keyword"
        placeholder="Input your keyword"
        value=keyword
      )
      button.btn.btn-success Search