mixin formChangeMulti(action)
  form(
    action=action
    method="POST"
    id="form-change-multi"
  )
    .input-group
      select(
        name="status"
        class="form-select"
      )
        option(disabled selected) --- Select A Action ---
        option(value="active") Active
        option(value="inactive") Inactive
        option(value="delete-all") Delete All
        option(value="change-position") Change Position
      input(
        class="form-control d-none"
        name="ids"
      )
      button.btn.btn-primary Apply